.hero-section {
  height: 40vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.hero-content-box {
  background-color: rgba(245, 247, 250, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow-subtle);
  
  max-width: 750px; 

  border-radius: 60px 200px 60px 60px;
  
  padding: var(--spacing-xl) var(--spacing-lg);
  text-align: left; 
}

.hero-content-box h1 {
  font-size: 3.5rem;
  color: var(--color-text-dark);
  margin-bottom: var(--spacing-md);
  line-height: 1.1;
}

.hero-content-box p {
  font-size: 1.1rem;
}